body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    min-height: 100vh;
}


.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.cell {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}